@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* Removes padding and margins from everything */
* {
    padding: 0;
    margin: 0;
}

/* background colour for page */
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Adds style to text under images */
p {
    padding: 5px;
    background-color: rgb(77, 79, 114);
    color: floralwhite;
    border-radius: 5px;
}

/* Heading styles */
h1 {
    /* Imported fonts */
    font-family: "DM Serif Display", serif;
    /* Font size can now change with size of window */
    font-size: calc(1rem + 2vw + 2vh);

    /* Border style */
    border-style: solid;
    border-width: 0.5vw;
    border-radius: 5px;
    /* Border spacing around all edges*/
    padding: 4px;
    padding-left: 5%;
    padding-right: 5%;
}

/* When screen reaches certain size... */
@media (max-width: 1240px) {
    h1 {
        /* ...Keep title at one size */
        font-size: calcl(1rem);
    }
}

/* When screen is smaller... */
@media (max-width: 700px) {
    h1 {
        /* ...No longer display border */
        border: none;
    }
}


/* centers everything without having to repeat this code */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Arranges images in a column */
.flex-col {
    flex-direction: column;
}

/* One class for width instead or repeating */
.full-width {
    width: 100vw;
}

/* For formating */
.card {
    width: 300px;
    margin: 5px;
}

/* Makes images same size */
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 5px;
}

/* Adds effect to images when hovering over with mouse */
.hover img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover figure:hover img {
    opacity: .5;
}


/* Title styling */
#title-div {
    height: 50px;
    /* Background of title design */
    background-color: rgb(77, 79, 114);
    background-size: contain;
    height: 130px;
    width: 100vw;
    /* Font colour */
    color: floralwhite;
    /* Add shadow to font */
    text-shadow: 2px 2px 2px rgb(208, 203, 195);

}

/* adds space around cover image */
#cover-div {
    margin: 20px;
}

/* Cover image styling */
#cover-img {
    height: 300px;
    width: 70%;
    /* Fits to box without changing aspect ratio */
    object-fit: contain;
    /* Poisitions in middle of page */
    object-position: 50% 50%;
}

/* When screen gets smaller, so does cover image */
@media (max-width: 1240px) {
    #cover-img {
        height: 200px;
    }
}

/* When screen size gets too small... */
@media (max-width: 700px) {
    #cover-img {
        /* ...Image no longer displayed */
        display: none;
    }
}


/* ************** */
/* Gallery styles */
/* ************** */

/* Layout of images when full screen */
#gallery-div {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "item1 item2 item3 item4"
        "item5 item6 item7 item8"
        "item9 item10 item11 item12";
}

/* Changes item layout for a smaller size of screen */
@media (max-width: 1240px) {
    #gallery-div {
        grid-template-areas:
            "item1 item2"
            "item3 item4"
            "item5 item6"
            "item7 item8"
            "item9 item10"
            "item11 item12"
    }
}

/* Changes item layout for an even smaller size of screen */
@media (max-width: 700px) {
    #gallery-div {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6"
            "item7"
            "item8"
            "item9"
            "item10"
            "item11"
            "item12"
    }
}


/* gallery items */
#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
}

#item4 {
    grid-area: item4;
}

#item5 {
    grid-area: item5;
}

#item6 {
    grid-area: item6;
}

#item7 {
    grid-area: item7;
}

#item8 {
    grid-area: item8;
}

#item9 {
    grid-area: item9;
}

#item10 {
    grid-area: item10;
}

#item11 {
    grid-area: item11;
}

#item12 {
    grid-area: item12;
}